<!DOCTYPE html>
<html>
<head>
    <title>Upload Item</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h2>Report Lost / Found Item</h2>

    <form action="/post_item" method="POST" enctype="multipart/form-data">

    <input type="number" name="user_id" placeholder="User ID" required><br><br>

    <select name="type" required>
        <option value="lost">Lost</option>
        <option value="found">Found</option>
    </select><br><br>

    <input type="text" name="title" placeholder="Item Name" required><br><br>
    <input type="text" name="description" placeholder="description" required><br><br>
    <input type="file" name="image" required><br><br>

    <button type="submit" style="color:blue">Submit</button>

</form>
    <a href="/">Back</a>
</div>

</body>
</html>
